.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 580px;
  padding: 40px;

  transform: translate(-50%, -50%);
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $secondary-text-color;
}

.modal__form {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $primary-text-color;
}

.form {
}
.form__label {
}

.form__text {
  display: block;
  margin-bottom: 4px;
}

.form__set {
  position: relative;
  margin-bottom: 10px;

  color: $secondary-text-color;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: $timing-function;

  &:focus {
    outline-color: $accent-color;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: $timing-function;
  transform: translateY(-50%);
  fill: currentColor;

  .form__input:focus + & {
    color: $accent-color;
  }
}

.comment {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline-color: $accent-color;
  }
}
.form__policy {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__policy-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid #000000;
  border-radius: 2px;

  .form__checkbox:checked + & {
    border-color: $accent-color;
    background-color: $accent-color;
    background-image: url('../images/icon/form/form-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.form__link {
  @extend %link;
  margin-left: 5px;

  color: $accent-color;
  text-decoration: underline;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;

  background-color: $primary-white-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: $timing-function;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.form__icon-close {
  fill: currentColor;
}
